body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  font-family: sans-serif;
}

header,
main,
aside,
footer {
  padding: 2em;
}

.navigation {
  display: flex;
  padding: 1em 2em;
  background: azure;
  border-radius: 90px;
  margin: 1em 0 0;
}

.navigation a {
  flex: 1 1 auto;
}

header {
  grid-column: 1 / 4;
  background-color: lightcoral;
}

main {
  grid-column: 1 / 3;
  background-color: yellowgreen;
}

aside {
  grid-column: 3 / 4;
  background-color: aquamarine;
}

footer {
  grid-column: 1 / 4;
  background-color: lightblue;
}
