* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  justify-items: center;
  align-items: self-start;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

header,
main,
footer {
  padding: 2em;
}

a {
  color: #002887;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.85em;
}

.navigation {
  display: flex;
  padding: 1em 2em;
  background: #fff;
  border-radius: 90px;
  margin: 1em 0 0;
  gap: 48px;
  box-shadow: 0 0 0 1px rgb(1 1 55 / 6%), 0 8px 40px rgb(0 0 0 / 5%),
    0 12px 32px -16px rgb(1 1 55 / 6%);
}

.navigation a {
  flex: 1 1 auto;
  padding: 6px 12px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.navigation a:hover {
  background-color: #f4f4f4;
}

h1 {
  font-weight: 400;
  text-align: center;
}

p {
  line-height: 1.6em;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 0 16px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.75em;
  font-style: italic;
  color: #777;
  margin-top: 8px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 4;
  background-color: #fff;
}

main {
  display: flex;
  max-width: 1200px;
  gap: 48px;
  justify-content: space-between;
  grid-column: 1 / 4;
}

.card {
  display: grid;
  min-width: 300px;
  border-radius: 16px;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(1 1 55 / 6%), 0 8px 40px rgb(0 0 0 / 5%),
    0 12px 32px -16px rgb(1 1 55 / 6%);
}

.person,
.country {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.person img {
  border: 1px solid #ddd;
  max-height: fit-content;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 4;
  width: 100%;
  border-top: 1px solid #eee;
}

@media screen and (max-width: 920px) {
  main {
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
  .navigation {
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    gap: 16px;
    padding: 1em;
  }

  .navigation a {
    padding: 12px;
  }
}
