* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  gap: 32px;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

h1 {
  text-align: center;
}

input,
select,
textarea {
  display: block;
  min-width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 8px;
  font-size: 16px;
  padding: 4px 12px;
  resize: none;
}

input[type="radio"],
input[type="checkbox"] {
  height: initial;
  min-width: initial;
}

form span {
  font-size: 12px;
  color: darkblue;
}

input[type="submit"] {
  color: #fff;
  background-color: darkblue;
  border: none;
  font-weight: bold;
}

label,
h2 {
  display: block;
  font-size: 1.12em;
  font-weight: normal;
  color: #333;
}

h2 {
  margin-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 2;
  height: max-content;
  border: 1px solid #eee;
  border-radius: 16px;
  padding: 2rem;
  background-color: #fdfdfd;
}

.feedback {
  grid-column: 2;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / span 3;
  gap: 8px;
  color: #fff;
  background-color: #0a2863;
  padding: 2rem;
  width: 100%;
}

header p,
footer p {
  text-align: center;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rating input,
.features input {
  display: initial;
  margin-top: 0;
}

.rating label {
  display: flex;
  flex-flow: column-reverse;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features label {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 840px) {
  .rating {
    flex-direction: column;
  }

  .rating label {
    display: flex;
    gap: 12px;
    flex-flow: row;
  }
}
